body {
  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color:hsl(30, 38%, 92%) ;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.flex-card {
  display: flex;
  width: 750px;
  height: 530px;
  gap: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
}


.flex-img {
  height: 100%;
  width: 400px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}



.flex-param {
letter-spacing: 3px;
 margin-top: 40px; 
 color:hsl(228, 12%, 48%) ;
}

.flex-heading {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
      
      font-size: 40px;
  } 
    
.param {
  width: 300px;
 color:hsl(228, 12%, 48%);
 line-height: 1.6;
}


span{
  font-size: 35px;
  color:hsl(158, 36%, 37%) ;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
    font-size: 40px;
}

.button {
  display: flex;
  justify-content: center;
  background-color: hsl(158, 36%, 37%);
  margin-top: 25px;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  width: 350px;
}


.button img {
 height: 25px;
 margin: 15px;
}

s {
  position: relative;
  bottom: 10px;
  left: 20px;
  color: hsl(228, 12%, 48%);;
}

@media (max-width:600px) {
  body {
    font-family: "Montserrat", sans-serif;
  
  font-weight: 500;
   
  }
  .flex-card {
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin-top: 200px;
    height: 100vh;
    padding-bottom: 45px;
  }

  
  .flex-img {
    background-image: url("./images/image-product-mobile.jpg");
    height: 250px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
  }

   .flex-param {
    font-size: 12px;
     margin-top: 10px; 
     margin-left: 18px;
    }
    .flex-heading {
      font-family: "Fraunces", serif;
      width: 250px;
     font-size: 25px;
     margin-left: 25px;
    }

    .param {
     font-size: 14px;
     line-height: 1.6;
     margin-left: 25px;
    }

    span{
      font-size: 25px;
      color:hsl(158, 36%, 37%) ;
      font-family: "Fraunces", serif;
      font-optical-sizing: auto;
      font-weight: bold;
      font-style: normal;
      font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
        margin-left: 25px;
    }

    .button {
      display: flex;
      justify-content: center;
      background-color: hsl(158, 36%, 37%);
      margin-top: 25px;
      margin-left: 20px;
      border-radius: 8px;
      color: white;
      font-weight: bold;
      
      width: 280px;
    }
    
    
    footer {
     margin: 150px;
    }
}